---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
import ProjectGallery from '../components/ProjectGallery.astro';

const projects = [
  {
    media: [
      "A_RYdP7n0f0",
      "/assets/media/unfound/portada.jpeg",
      "22U-uYY680Y"      
    ],
    title: "Unf0und_VR - Horror VR Experience",
    type: "Virtual Reality Horror Game",
    desc: [
      "Developed an immersive VR horror experience using Unity and C#.",
      "Implemented player interactions, environment triggers, and event systems.",
      "Integrated Oculus SDK and optimized performance for standalone headsets.",
      "Creation of the gun mechanics; realistic shells, full gun movement, bullet marks.",
      "Target creation; random movement, scoring system, physics, screamers."
    ],
    highlights: ["Finalist at FPemprèn 14th Edition."],
    tech: ["Unity", "C#", "Visual Studio 2022", "VR SDK (Oculus)", "Git"],
    links: [
    { label: "Trailer", url: "https://youtu.be/YLgMwV56N9U" }
  ]},
  {
    media: [
      "joAiHeWMkI4",
      "/assets/media/Demo/Character.png"
    ],
    title: "Demo Playable Horror Game",
    type: "FP Horror Game",
    desc: [
      "Garbage collection system with random positioning without leaving the boundaries.",
      "Sold over 700 Flashlight with delayed movement.",
      "Drawers and doors with adjustable and interactive boundaries.",
      "Note system with real-time language change.",
      "Modern inventory with keys in the palm of your hand.",
      "Interactive, rotatable, illuminated objects that return to their initial position when released."
    ],
    tech: ["Unity", "C#", "Visual Studio 2022", "Git"],
    highlights: [
      "Character creation from 0 to 100 (Mobility, Mechanics, Inventory, Animations...)"
    ],
    links: [
      { label: "Download Demo", url: 'https://drive.google.com/file/d/1r0LZUui4I9ahnYY4PB7RhcijXTzSPjLv/view?usp=drive_link' }
    ]
  },
  {
    media: [
      "fh9uet9cFwo",
      "jHpfMKgei0I",
      "/assets/media/SlotMachine/SlotMachineLogic.png"
    ],
    title: "Demo Slot Machine",
    type: "Modular betting application",
    desc: [
      "Fully customizable and adjustable columns and rows.",
      "Adjustable winning lines system with clicks on a grid.",
      "Button to force the winning spin (DEV MODE).",
      "Adjustable and customizable reels and symbols with assets \"PLUG AND PLAY\".",
      "Buttons to adjust the bet and play."
    ],
    tech: ["Unity", "C#", "Visual Studio 2022", "Git", "Unity Editor"],
    links: [
      { label: "View project on Github", url: 'https://github.com/calaveiraUwU/Slotmachine' }
    ]
  },
  {
    media: [
      "vBHSOM_ipKs",
    ],
    title: "Online shopping list",
    type: "Web application",
    desc: [
      "Inventory management system that allows you to register, modify, and delete products.",
      "REST API in .NET that handles business logic and data persistence through migrations.",
      "Client application in C# that consumes the API to provide an inventory management interface.",
      "Support for recording and controlling purchases, automatically updating stock.",
      "Modular client-server architecture, ready to scale to web or mobile environments.",
      "Developed using best practices in .NET, layer separation, and structured data management."
    ],
    tech: [".Net", "C#", "Visual Studio Code", "Git", "Blazor", "CSS", "HTML", "API REST", "SQL Server"],
    links: [
      { label: "Aplication Github", url: 'https://github.com/calaveiraUwU/InventarioApp' },
      { label: "Server Github", url: 'https://github.com/calaveiraUwU/CompraApi' }
    ]
  },
  {
    media: [
      "p603Yg47fxw",
      "/assets/media/TinyRun3D/Controls.png"
    ],
    title: "TinyRun 3D",
    type: "Tiny Run Cyberpunk with Scoreboard",
    desc: [
      "My videogame has been based on cyberpunk aesthetics, futuristic with neon and flying objects, the most similar sounds and music that can fit.",
      "The mechanics of the game is to collect followers as the level progresses and be able to add as many as possible",
      "There will also be enemies that make the task difficult for us by killing our followers or ourselves",
      "It has a scoring system that is uploaded to the cloud, as there is a server where the highest scores are displayed."
    ],
    tech: ["Unity", "C#", "Visual Studio 2022", "Git", "SQL", "Java", "Sockets"],
    links: [
      { label: "Download Project", url: 'https://drive.google.com/drive/folders/1x8Mzs8ReTYjjWtQ14IzI4gzU6bdd8oQb?usp=drive_link' },
      { label: "Download Server", url: 'https://drive.google.com/drive/folders/18T3c07yekXQzNpZmH1V_wf-7HT5nYzMB?usp=drive_link'}
    ]
  },
  {
    media: [
      "b8A8jWl_Wg0"
    ],
    title: "Platform VVV",
    type: "2D Platformer",
    desc: [
      "Developed movement, camera control, and level logic using Unity.",
      "Designed modular scripts for physics interactions and gameplay systems.",
      "Developed enemies behaviour and obstacles.",
      "Implemented a fruit system (COINS) for the final screen had open."
    ],
    tech: ["Unity", "C#", "Visual Studio 2022", "Git"],
    links: [
      { label: "Download Game", url: "https://drive.google.com/drive/u/5/folders/18yH1OBOTZFmr3YfgTZ9AXJ2Y35BuDAET?usp=sharing" }

    ]},
  {
    media: [
      "/assets/media/Millennium Falcon/fm.avif"
    ],
    title: "Millennium Falcon",
    type: "TPS Starship Simulation Multiplayer",
    desc: [
      "It is a local multiplayer game where your mission is to destroy the enemy ships, this game has a HUD where you can see the last kills and the names of the opponents, is largely made with C++ and with the help of BluePrints."
    ],
    tech: ["Unreal Engine 4", "C++", "Visual Studio 2022", "Git", "Blueprints"],
    links: [
      { label: "Download Project", url: 'https://drive.google.com/file/d/1j-MAVL1h6YVQIllTVuSPpuHESkFKtoZL/view?usp=drive_link' }
    ]
  },
  
];
---

<!DOCTYPE html>
<html>
  <Header title="Personal Projects | Raul Cano Portolés" />
  <body>
    <div class="content">
      <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block">
              <img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div>
            </a>
          </div>

          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
              <div class="resouce-items">
                {projects.map(project => (
                  <div class="project-card">
                    <Project
                        title={project.title}
                        type={project.type}
                        desc={project.desc}
                        tech={project.tech}
                        media={project.media}
                        highlights={project.highlights}
                        links={project.links}
                      />
                  </div>
                ))}
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>

